@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --link-text-color: black;
  --link-bg-color: white;
  --link-bg-hover: darkgray;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: black url('https://images.unsplash.com/photo-1501862700950-18382cd41497?ixlib=rb-1.2.1&auto=format&fit=crop&w=1347&q=80') fixed;
  background-size: cover;
}

#container {
  flex: 1;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 35vh auto;
  grid-template-areas: 
    "header header header"
    "left main right";
}

.smalltitle {
  margin-top: 0;
}

/* ---HEADER */

#header {
  grid-area: header;
  background: rgba(0,0,0,.4);
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;
}

.pagetitle {
  font-size: 3rem;
}

#header .smalltitle {
  font-style: italic;
}


/* ---- LEFT & RIGHT ASIDES */

.aside {
  padding: 1rem 1rem .5rem;
  position: sticky;
  top: 1rem;
  align-self: flex-start;
}

/* --- LEFT ASIDE */

#left {
  grid-area: left;
  margin-left: 1.5rem;
}

.side-nav-link {
  list-style-type: none;
  text-decoration: none;
  color: var(--link-text-color);
  background: var(--link-bg-color);
  display: block;
  margin: 0 0 1rem -40px;
  padding: .5rem;
  cursor: pointer;
  transition: background 1s ease;
}

.side-nav-link:last-child {
  margin-bottom: 0;
}

.side-nav-link:hover {
  background: var(--link-bg-hover);
}

/* ---- MAIN & MAIN SECTIONS */

#main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.section, .aside {
  background: rgba(0,0,0,.7);
}

.section {
  flex: 1 0 25%;
  padding: 1.5rem;
  margin:  0 .5rem 1rem;
}

.section-img {
  height: 250px;
  width: 170px;
  margin: 0;
}

.button, .button:visited {
  color: var(--link-text-color);
  background: var(--link-bg-color);
  text-decoration: none;
  padding: .5rem;
  border-radius: .5rem;
  display: block;
  width: 50%;
  margin: 0 auto;
  transition: background 1s ease;
}

.button:hover {
  background: var(--link-bg-hover);
}

/* ---RIGHT ASIDE */

#right {
  grid-area: right;
  margin-right: 1.5rem;
}

.poll {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.poll input[type="text"] {
  margin: .5rem 0 1rem;
  border: none;
  padding: .5rem;
}

.poll-query {
  margin: .5rem 0 1rem;
  font-weight: bold;
}

.submit-button {
  margin: 1rem 0;
  background: var(--link-bg-color);
  color: var(--link-text-color);
  border: none;
  cursor: pointer;
  width: 50%;
  height: 1.5rem;
  font-size: .8rem;
  align-self: center;
  transition: background 1s ease;
}

.submit-button:hover {
  background: var(--link-bg-hover);
}

/* --- FOOTER */

#footer {
  margin-top: 1rem;
  padding: 0 1rem;
  background: rgba(0,0,0,.4);
  font-style: italic;
}

@media only screen and (max-width: 750px) {
  #container {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
  }

  #header {
    flex-basis: 100%;
  }

  #left, #right {
    margin: 1.5rem;
  }

  .aside {
    margin: 1rem 0;
    align-self: stretch;
    position: static;
    flex-basis: 100%;
    flex-grow: 0;
  }

  #main {
    margin: .5rem 1rem;
    justify-content: center;
  }

  .section {
    flex-grow: 1;
  }
}